/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  height: 100vh;
  padding: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(126, 238, 126);
}

div.wrapper {
  display: grid;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: .5rem solid black;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 80, 0, 0.562);
  padding: 2rem 2rem 2rem 2rem;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
}

header h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.4rem;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration: none;
  color: rgb(255, 255, 0);
  
}

header h2 {
  padding-top: 1.1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  background-color: rgb(255, 255, 0);
  padding: .4rem 1rem;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {

}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 1.3rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: white; /* ← you can change this */
	border-radius: 9rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 2rem 1.5rem 2rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 1.1rem;
  line-height: 1.4;
  padding-top: .4rem;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  background-color: white;
  border: 1px solid black;
  padding: .5rem;
  box-shadow: 5px 5px;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 2rem 2rem 0rem 0rem;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-right: 2rem;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  display: flex;
  justify-content: center;
  margin: .5rem 0rem .7rem 0rem;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin: .5rem .1rem .5rem 1rem;
  line-height: 1.4;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: rgba(0, 80, 0, 0.562);
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/5;
  grid-row: 3/4;
  margin: 0rem 1.5rem;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  
}

/* ⬇ Name of each building */
section.campus h3 {
  padding-bottom: .5rem;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {

}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
  margin-right: 80px;
  margin-left: 10px;

}

/* ⬇ Caption text under each building */
section.campus figcaption {
  font-size: medium;
  padding: 1rem;
}



/* FOOTER
---------------------------------------*/

footer {
  padding: 1rem;
  background-color: rgb(255, 255, 0);
}

footer small { 
  line-height: 1.2;
}

/* ⬇ The link in the footer */
footer a {

}

footer a:hover {
  color: rgba(0, 80, 0, 0.562);
}

/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

