/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  height: 100vh;
  padding: 2rem;
}
	
div.wrapper {
  display: grid;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 3rem 1rem
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  
}

header h1 {
  
}

/* ⬇ The h1's link */
header h1 a {
  
}

header h2 {
  
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: ghostwhite; /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 1.5rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  
}

/* ⬇ This controls both asides */
main.homepage aside { 
  
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/5;
  grid-row: 3/4;
  gap: 1.5rem
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  
}

/* ⬇ Name of each building */
section.campus h3 {
  
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  
}



/* FOOTER
---------------------------------------*/

footer {
  padding-top: 4rem 
}

footer small { 
  
}

/* ⬇ The link in the footer */
footer a {
  
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

